* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  letter-spacing: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  background-color: #9d86ba;
}

.nav_items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav_item {
  margin-right: 15px;
}

.header_title a, .nav_item a {
  color:white;
  text-decoration: none;
}
.header_title a {
  color: black;
}
.nav_item a {
  color: white;
}

.main_header {
  text-align: center;
  margin: 20px 10px;
}

.main_carousel {
  display: flex;
  height: 70vh;
  min-height: 500px;
  max-height: 700px;
  background-image: url("../images/main_1.jpg");
  background-size: cover;
  justify-content: flex-start;
  align-items: flex-start;
}

.main_carousel_title {
  color: white;
  margin-left: 15%;
  margin-top: 15%;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .main_carousel_title {
    font-size: 2rem;
    margin-left: 10%;
  }  
}

@media only screen and (max-width: 768px) { /* ipad mini */
  .main_carousel {
    height: 35vh;
    min-height: 300px;
  }

  .main_carousel_title {
    font-size: 1.2rem;
    margin-left: 5%;
  }  
}

/* typing */
.main_carousel_title h1 {
  color: white;
  margin-left: 15%;
  margin-top: 15%;
  font-size: 2rem;

  overflow: hidden;
  display: inline-block;
  border-right: 2px solid white; /* Adjust the color of the typing cursor */
  white-space: nowrap;
  margin: 0;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #091720; /* Adjust the color of the typing cursor */
  }
}

.main_products {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_products_group {
  margin: 30px 0;  
}

.products {
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

@media only screen and (max-width: 430px) { /* when the products gets only one item in row */
  .main_products h2 {
    text-align: center;
  }
  
  .products {
    justify-content: center;
  }
}

.product {
  width: 19%;
  min-width: 200px;
  max-width: 250px;
  height: 250px;
  margin-right: 5px;
  border: 1px solid black;
  overflow: hidden;
}
.product.show_more, .product.category_text {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.product.show_more {
  border: none;
}

.product img {
  height: 100%;
  width: 100%;
}

.product img:hover, .product a:hover {
  opacity: 0.7;
  transform: scale(1.2);
  font-size: 1.2rem;
  font-weight: bold;
}

.product a {
  text-decoration: none;
  color: black;
}

.main_story {
  margin: 10px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #9d86ba;
  padding: 20px 10px;

}

@media only screen and (max-width: 725px) {
  .footer {
    flex-direction: column;
  }

  .right_group {
    margin-top: 15px;
  }
}

.store_group {
  list-style: none;
}
.store_group li {
  margin: 10px 0;
}

.social_group {
  list-style: none;
  display: flex;
  align-items: center;
}

.social_group li {
  margin: 5px 10px 5px 0;
}

.contact_group_wrapper {
  margin-top: 15px;
}

.contact_group {
  list-style: none;
}

.contact_group li {
  margin: 5px 0;
}

.footer a {
  text-decoration: none;
  color: white;
}